body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: blanchedalmond;
}
h1 {
  color: #333;
}
#title {
  text-align: center;
}
li {
  margin: 10px 0;
}
a {
  color: #007bff;
}
a:hover {
  text-decoration: underline;
}

img {
  width: 400px;
  border: 10px solid #555;
  border-radius: 50%;
}
.home {
  color: #007bff;
  font-size: 20px;
  background-color: azure;
  border: 1px solid #555;
  border-radius: 40%;
  padding: 5px 10px;
}
